#loading {
    display: none;
}

.loading #loading, #loading > div {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: white;
    z-index: 10;
}

#loading > div {
    margin: auto;
    height: 50px;
    width: 50px;
}

.mdl-layout__header-row {
    position: relative;
}

#page-title {
    margin: 0;
}

#logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    #logo {
        width: 72px;
    }
}

#view {
    background-color: #f2f2f2;
    overflow-y: auto;
}

.page {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card-component {
    position: relative;
    background: transparent;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

.card-component:after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 0 0 15% 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 30;
    -moz-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.3), 0 10px 0 10px white;
    -webkit-box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.3), 0 10px 0 10px white;
    box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.3), 0 10px 0 10px white;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .card-component:after {
        -webkit-transition: .1s ease-in-out box-shadow, .1s ease-in-out transform;
        -moz-transition: .1s ease-in-out box-shadow, .1s ease-in-out transform;
        -o-transition: .1s ease-in-out box-shadow, .1s ease-in-out transform;
        transition: .1s ease-in-out box-shadow, .1s ease-in-out transform;
    }
}

.card-component.flipped {
    pointer-events: none;
}

.card-component.flipped:after {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-component:hover:after {
    width: 200%;
    height: 30px;
    -webkit-transform: rotate(-2deg) translate3d(0, 0, 0);
    -moz-transform: rotate(-2deg) translate3d(0, 0, 0);
    -o-transform: rotate(-2deg) translate3d(0, 0, 0);
    transform: rotate(-2deg) translate3d(0, 0, 0);
}

@keyframes flip-up {
    0% {
        -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
        -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
        -o-transform: rotateY(180deg) translate3d(0, 0, 0);
        transform: rotateY(180deg) translate3d(0, 0, 0);
    }
    25% {
        -webkit-transform: rotateY(135deg) translate3d(0, 5px, 0);
        -moz-transform: rotateY(135deg) translate3d(0, 5px, 0);
        -o-transform: rotateY(135deg) translate3d(0, 5px, 0);
        transform: rotateY(135deg) translate3d(0, 5px, 0);
    }
    50% {
        -webkit-transform: rotateY(90deg) translate3d(0, 10px, 0);
        -moz-transform: rotateY(90deg) translate3d(0, 10px, 0);
        -o-transform: rotateY(90deg) translate3d(0, 10px, 0);
        transform: rotateY(90deg) translate3d(0, 10px, 0);
    }
    75% {
        -webkit-transform: rotateY(45deg) translate3d(0, 5px, 0);
        -moz-transform: rotateY(45deg) translate3d(0, 5px, 0);
        -o-transform: rotateY(45deg) translate3d(0, 5px, 0);
        transform: rotateY(45deg) translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: rotateY(0deg) translate3d(0, 0, 0);
        -moz-transform: rotateY(0deg) translate3d(0, 0, 0);
        -o-transform: rotateY(0deg) translate3d(0, 0, 0);
        transform: rotateY(0deg) translate3d(0, 0, 0);
    }
}

@keyframes flip-down {
    0% {
        -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
        -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
        -o-transform: rotateY(180deg) translate3d(0, 0, 0);
        transform: rotateY(180deg) translate3d(0, 0, 0);
    }
    25% {
        -webkit-transform: rotateY(135deg) translate3d(0, 5px, 0);
        -moz-transform: rotateY(135deg) translate3d(0, 5px, 0);
        -o-transform: rotateY(135deg) translate3d(0, 5px, 0);
        transform: rotateY(135deg) translate3d(0, 5px, 0);
    }
    50% {
        -webkit-transform: rotateY(90deg) translate3d(0, 10px, 0);
        -moz-transform: rotateY(90deg) translate3d(0, 10px, 0);
        -o-transform: rotateY(90deg) translate3d(0, 10px, 0);
        transform: rotateY(90deg) translate3d(0, 10px, 0);
    }
    75% {
        -webkit-transform: rotateY(45deg) translate3d(0, 5px, 0);
        -moz-transform: rotateY(45deg) translate3d(0, 5px, 0);
        -o-transform: rotateY(45deg) translate3d(0, 5px, 0);
        transform: rotateY(45deg) translate3d(0, 5px, 0);
    }
    100% {
        -webkit-transform: rotateY(0deg) translate3d(0, 0, 0);
        -moz-transform: rotateY(0deg) translate3d(0, 0, 0);
        -o-transform: rotateY(0deg) translate3d(0, 0, 0);
        transform: rotateY(0deg) translate3d(0, 0, 0);
    }
}

.flipped > .card-back {
    -webkit-animation: flip-up ease-in-out .5s forwards;
    animation: flip-up ease-in-out .5s forwards;
    z-index: 2;
}

.flipped > .card-front {
    -webkit-animation: flip-up ease-in-out .5s reverse forwards;
    animation: flip-up ease-in-out .5s reverse forwards;
}

.card-component > .mdl-card {
    width: auto;
    min-height: 0;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 1px;
    right: 1px;
    bottom: 2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
}

.card-front {
    -webkit-animation: flip-down .5s ease-in-out forwards;
    animation: flip-down .5s ease-in-out forwards;
}

.card-back {
    -webkit-animation: flip-down .5s ease-in-out reverse forwards;
    animation: flip-down .5s ease-in-out reverse forwards;
}

.card-symbol, .card-logo {
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.card-logo {
    width: 50%;
    height: 50%;
    background: url(assets/image/fingerprint.svg) 50% 50% no-repeat;
    background-size: 100%;
}

#fingerprint {
    fill: #a3a3a3;
    vertical-align: top;
    height: 100%;
    width: 100%;
}

.card-symbol {
    padding: 5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card-symbol > img {
    max-width: 100%;
    max-height: 100%;
}

.matched > .mdl-card {
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

.matched > .card-back > .card-symbol {
    font-size: 0;
    -webkit-transition: font-size 1s ease-in-out;
    transition: font-size 1s ease-in-out;
}

#stats > .mdl-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

#grid {
    width: calc(100vh - 192px);
    height: calc(100vh - 192px);
    max-height: calc(100vw - 16px);
    max-width: calc(100vw - 16px);
}

#grid[cols="4"] > .card-component {
    width: calc(100% / 4 - 16px);
}

#grid[cols="6"] > .card-component {
    width: calc(100% / 6 - 16px);
}

#grid[cols="8"] > .card-component {
    width: calc(100% / 8 - 16px);
}

@media screen and (max-width: 768px) {
    #grid[cols="4"] > .card-component {
        width: calc(100% / 4 - 4px);
        margin: 2px;
    }

    #grid[cols="6"] > .card-component {
        width: calc(100% / 6 - 4px);
        margin: 2px;
    }

    #grid[cols="8"] > .card-component {
        width: calc(100% / 8 - 4px);
        margin: 2px;
    }
}

.mdl-cell.stats {
    flex: 1 0 0;
}

.mdl-cell.stats > div:last-child {
    font-weight: bold;
}

#rank-list {
    width: 100%;
}

#rank-list td:first-child {
    width: 72px;
    font-size: 18px;
}

.item-column > div:first-child {
    padding-bottom: 8px;
}

.parent--fill {
    height: 100%;
    box-sizing: border-box;
}

.parent--contain {
    max-height: calc(100% - 50px);
}

@media screen and (max-width: 768px) {
    .parent--contain {
        max-height: calc(100% - 16px);
    }
}

#replay-link {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

#stats {
    padding-bottom: 0;
}

#stats > div {
    min-height: 0;
    margin-bottom: 0;
}

th > i {
    vertical-align: middle;
}